<!-- The personal page of the user in the URL -->
<!-- If logged in, should show controlling options -->
<div class="main__profile">
  <% if @session_user_ishomepage %>
    <!-- this prints if this is home page of logged in user -->
    <div class="main__profile__welcome">
      Your home page
    </div>
    <!-- this is the new blog post form -->
    <div class="main__profile__new">
      <form method="POST" action="/posting_blog">
        <textarea name="main__profile__new__content" placeholder="new blog"></textarea>
        <input type="submit" value="post">
      </form>
    </div>
  
    <!-- https://stackoverflow.com/questions/3332449/rails-multi-submit-buttons-in-one-form -->
  <% elsif @this_page_user_isreal %>
    <!-- this prints if this is a visiting page -->
    <div class="main__profile__welcome">
      Your home page
    </div>

  <% else %>
    <!-- this prings if page doesn't exist -->

    This user doesn't exist
  <% end %>
  
  <!-- general list of posts -->
  <% if @this_page_user_isreal %>
    <% @this_page_user.blogs.each do |ea_post| %> 
        <div class="main__profile__history">
          <form method="POST" action="/user/post/action/<%= ea_post.id %>/">
            <div>
              <%= ea_post.date %> / 
              <a href="/user/<%= ea_post.user_id %>/profile">
                <%= User.find_by(id: ea_post.user_id).username %>
              </a>
            </div>
            <textarea name="main__profile__history__content" maxlength=149><%= ea_post.content %></textarea>
            <br>
            <% if ea_post.user_id == @session_user.id %>
              <div class="main__profile__history__content_edit">
                Allow edit
              </div>
              <div class="main__profile__history__content_delete">
                Start delete
              </div>
              <input type="submit" value="edit" name="btn_edit">
              <input type="submit" value="delete" name="btn_delete">
            <% end %>
          </form>
          
        </div>
    <% end %>
  <% end %>

</div>