<!-- The personal page of the user in the URL -->
<!-- If logged in, should show controlling options -->
<div class="main__profile">

    <!-- ********************************************************* -->
    <!-- Welcome part, allow blog posts for owner -->
    <!-- ********************************************************* -->

  <% if @session_user_ishomepage %>
    <!-- this prints if this is home page of logged in user -->
    <div class="main__profile__welcome">
      Welcome home, <%= @session_user.username %>!
    </div>
    <!-- this is the new blog post form -->
    <div class="main__profile__new">
      <form method="POST" action="/posting_blog">
        <textarea name="main__profile__new__content" placeholder="new blog" class="main__profile__new__text general__textarea__scrollbar" maxlength="149" rows='3' data-min-rows='3'></textarea>
        <input type="submit" value="Post new blog" class="main__profile__new__submit">
      </form>
    </div>
  
  
  <% elsif @this_page_user_isreal %>
    <!-- this prints if this is a visiting page -->
    <div class="main__profile__welcome">
      <%= @this_page_user.username %>'s page
    </div>

  <% else %>
    <!-- this prings if page doesn't exist -->
    <div>
      This user doesn't exist
    </div>
  <% end %>

    <!-- ********************************************************* -->
    <!-- general list of posts of this page user -->
    <!-- ********************************************************* -->
  
  <% if @this_page_user_isreal %>
    <% @this_page_user.blogs.reverse.each do |ea_post| %> 
        <div class="main__profile__history">
          <div class="main__profile__history__relative">
            <div class="main__profile__history__timestamp">
              <%= ea_post.date %> 
            </div>
            
            <a href="/user/<%= ea_post.user_id %>/profile" class="main__profile__history__writers">
              <%= User.find_by(id: ea_post.user_id).username %>
            </a>
          </div>
          <form method="POST" action="/user/post/action/<%= ea_post.id %>/" class="main__profile__history__form">
            
            <textarea name="main__profile__history__content" maxlength="149" class="main__profile__history__content general__textarea__scrollbar" rows="3" data-min-rows="3" data-postid="<%=ea_post.id%>"><%= ea_post.content %></textarea>
            <% if (!!session[:current_user_id] && !!@session_user) %>
              <% if ea_post.user_id == @session_user.id %>
                <div class="main__profile__history__buttons">

                  
                  <div class="main__profile__history__buttons__start" data-postid="<%=ea_post.id%>">
                    <div class="main__profile__history__content__start_edit">
                      edit
                    </div>
                    <div class="main__profile__history__content_start_delete">
                      delete
                    </div>
                  </div>
                  
                  
                  <div class="main__profile__history__content_editchoice" data-postid="<%=ea_post.id%>">
                    <input type="submit" value="complete edit" name="btn_edit" class="main__profile__history__buttons__save_confirm">
                    <div class="main__profile__history__content_edit_cancel">
                     cancel
                    </div>
                  </div>
                  
                  
                  <div class="main__profile__history__content_deletechoice" data-postid="<%=ea_post.id%>">
                    <input type="submit" value="confirm delete" name="btn_delete" class="main__profile__history__buttons__delete_confirm">
                    <div class="main__profile__history__content_delete_cancel">
                     cancel
                    </div>
                  </div>                     
                  
                </div>
              <% end %>
            <% end %>
          </form>
          
        </div>
      
      
    <% end %>
    
    <% if (! @this_page_user.blogs.any?) %>
      <br><br>
      <div>
        This user has no blogs
      </div>
    <% end %>
  <% end %>

</div>

<script src="../../javascript/user/profile.js"></script>